    <section>
    <h3>Passing data to the mat menu content--twitter-like manage accounts menu using matMenuTriggerData input</h3>
    <button mat-button [matMenuTriggerFor]="manageAccounts" 
            [matMenuTriggerData]="menuItems">
        {{activeUser.Name}}
    </button>
    <mat-menu #manageAccounts="matMenu">
    
        <ng-template [matMenuContent]="menuItems">
      
            <ng-container *ngFor="let user of menuItems.Users">        
              <button mat-menu-item>
                  <span>{{user.Name}}</span>
                  <mat-icon *ngIf="user.IsActive">
                     how_to_reg
                  </mat-icon>
              </button>
            </ng-container> 
      
            <ng-container *ngFor="let othermenu of menuItems.OtherMenus">        
              <button mat-menu-item>{{othermenu}}</button>
            </ng-container> 
      
            <button mat-menu-item>Log off {{menuItems.ActiveUser.Name}}</button>
          
        </ng-template>
        <button mat-icon-button 
            [matMenuTriggerFor]="userMenu"
            [matMenuTriggerData]="{name: 'ArunGudelli'}">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">
          <ng-template matMenuContent let-username="name">
            <button mat-menu-item>Log off {{username}}</button>
          </ng-template>
        </mat-menu>
    </mat-menu>

    </section>