   <h2>Navigation Examples</h2>
<section>
<h3>Flat Menus</h3>
<button mat-button [matMenuTriggerFor]="menu">Home</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>home</mat-icon><span>Home</span>
    </button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="menu1">
    <mat-icon>more_vert</mat-icon>
</button>
<!--button mat-button [matMenuTriggerFor]="menu">Simple Menu</button-->
<mat-menu #menu1="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>
</section>

<section>
  <h3>Nested Menus</h3>
    <button mat-button [matMenuTriggerFor]="languages">languages</button>
    
      <!--First level Menu-->
        <mat-menu #languages="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="frontend">frontend</button>
          <button mat-menu-item [matMenuTriggerFor]="backend">backend</button>
        </mat-menu>
    
      <!--Second level sub Menu--> 
        <mat-menu #frontend="matMenu">      
          <button mat-menu-item [matMenuTriggerFor]="javascript">
             Javascript
          </button>
          <button mat-menu-item>Typescript</button>
          <button mat-menu-item>Angular</button>
        </mat-menu>
        <mat-menu #backend="matMenu">      
            <button mat-menu-item>C#</button>
            <button mat-menu-item>Java</button>
        </mat-menu>
    
      <!--Third level sub Menu--> 
      <mat-menu #javascript="matMenu">      
            <button mat-menu-item>jQuery</button>
            <button mat-menu-item>Vuejs</button>
      </mat-menu>
    </section>

    <section>
        <h3>Open Menu Programmatically</h3>    
        <button (mouseover)="openMatMenuProgrammatically()" mat-button>
            Open Menu
        </button>
        <button mat-icon-button #triggerBtn="matMenuTrigger"
                [matMenuTriggerFor]="normalMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #normalMenu="matMenu">
            <button mat-menu-item>Home</button>
            <button mat-menu-item>Contact</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="clickMenu"
                #clickMenuTrigger="matMenuTrigger">
                <mat-icon>touch_app</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="clickHoverMenu" 
                #clickHoverMenuTrigger="matMenuTrigger"
                (mouseover)="openOnMouseOver()">
                <mat-icon>notifications</mat-icon>
        </button>

        <mat-menu #clickMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Help</button>
        </mat-menu>
        <mat-menu #clickHoverMenu="matMenu">
            <button mat-menu-item>New items</button>
        </mat-menu>
    </section>

    <section>
        <h3>Create dynamic menu list items</h3>
        <mat-toolbar color="secondary">
            <button mat-icon-button 
                    [matMenuTriggerFor]="clickmenu">
                    <mat-icon>more_vert</mat-icon>
            </button>
            <span>Selected Menu: {{selectedMenu}}</span>
        </mat-toolbar>
          
          <mat-menu #clickmenu="matMenu">
            <button mat-menu-item 
                    *ngFor="let item of menuListItems" 
                    (click)="clickMenuItem(item)" 
                    [disabled]="item.isDisabled">
              <mat-icon>{{ item.menuIcon }}</mat-icon>
              <span> {{ item.menuLinkText }}</span>
            </button>
          </mat-menu>
    </section>

    <section>
    <h3>Navigate to an angular route on menu click event</h3>
       <button mat-menu-item
                *ngFor="let item of menuListItems" 
                routerLink="item.routerLink">
        <mat-icon>{{ item.menuIcon }}</mat-icon>
        <span> {{ item.menuLinkText }}</span>
      </button>
    </section>

    <section>
    <h3>Navigate to an angular route on menu click event horizontal</h3>
    <mat-card>
      <button mat-button
                *ngFor="let item of menuListItems" 
                routerLink="item.routerLink">
        <mat-icon>{{ item.menuIcon }}</mat-icon>
        <span> {{ item.menuLinkText }}</span>
      </button>
      <button mat-button routerLink="datepicker">Datepicker</button>
    </mat-card>
    </section>


    