<!--h1>{{ title }}</h1-->

<mat-toolbar color="primary">
  <span> {{title}} </span>
    <!-- logo -->
    <div class="navbar-brand"></div>
    <!-- menu -->
    <button mat-button routerLink="toolbar">Toolbar</button>
    <button mat-button routerLink="nav">Navigation</button>
    <button mat-button routerLink="datepicker">Datepicker</button>
    <button mat-button routerLink="buttons">Buttons</button>
    <button mat-button routerLink="tables">Tables</button>
    <button mat-button routerLink="table_selection">Table with Selection</button>
    <button mat-button routerLink="table-expandable">Expandable Table</button>
  <!--span> Right Aligned Text </span-->
</mat-toolbar>
<router-outlet></router-outlet>

<!--The content below is only a placeholder and can be replaced.-->
<!--app-navigation></app-navigation-->

<!--div>
<app-angular-material-nav></app-angular-material-nav>
<app-angular-material-datepicker></app-angular-material-datepicker>
<app-angular-material-menu></app-angular-material-menu>
<app-angular-material-toolbars></app-angular-material-toolbars>
<app-angular-material-buttons></app-angular-material-buttons>
<app-table-add-remove-shuffle-columns></app-table-add-remove-shuffle-columns>
<app-table-expandable-rows></app-table-expandable-rows>
<app-angular-material-tables></app-angular-material-tables>
</div-->
