<button mat-button [matMenuTriggerFor]="allTables">All Tables</button>
<mat-menu #allTables="matMenu" yPosition="below">
  <button mat-menu-item [matMenuTriggerFor]="basicTables">Basic Tables</button>
  <button mat-menu-item [matMenuTriggerFor]="stickyTables">Sticky Tables</button>
  <button mat-menu-item routerLink="table_expandable">Expandable Table</button>
</mat-menu>

<mat-menu #basicTables="matMenu">
  <button mat-menu-item routerLink="tables">Table with Filter/Sort/Pagination</button>
  <button mat-menu-item routerLink="table_selection">Table with Selection</button>
</mat-menu>

<mat-menu #stickyTables="matMenu">
  <button mat-menu-item routerLink="table_sticky_header">Sticky Header</button>
  <button mat-menu-item routerLink="table_sticky_footer">Sticky Footer</button>
  <button mat-menu-item routerLink="table_sticky_column">Sticky Column</button>
</mat-menu>

